name: Update

on:
  workflow_dispatch:

jobs:
  update-vpm-repos:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Cache
        uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
        with:
          path: ~/.cache/vpm-repos-gen
          key: ${{ runner.os }}-vpm-repos-gen
      - name: Generate index.json
        uses: koyashiro/vpm-repos-gen-action@1cff8dddb3ba24e61a5c90f1d5bb2a50b42b9b29 # v0.3.0
        with:
          name: koyashiro's vpm repo
          id: net.koyashiro.vpm
          author: koyashiro
          url: https://vpm.koyashiro.net/index.json
          repos: |
            koyashiro/udon-test
            koyashiro/udon-encoding
            koyashiro/udon-sha2
            koyashiro/udon-jwt
            koyashiro/generic-data-container
          output: index.json
      - name: Generate archive index.json
        uses: koyashiro/vpm-repos-gen-action@1cff8dddb3ba24e61a5c90f1d5bb2a50b42b9b29 # v0.3.0
        with:
          name: koyashiro's archive vpm repo
          id: net.koyashiro.vpm.archive
          author: koyashiro
          url: https://vpm.koyashiro.net/archive/index.json
          repos: |
            koyashiro/udon-exception
            koyashiro/udon-list
            koyashiro/udon-dictionary
            koyashiro/udon-json
          output: archive/index.json
      - name: Commit & Push changes
        uses: actions-js/push@5a7cbd780d82c0c937b5977586e641b2fd94acc5 # v1.5
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
